*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(228, 228, 228, 1);
}

header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    padding-top: 100px;
    flex-direction: row;


    ul{
        list-style: none;
        display: flex;
        position: absolute;
        gap: 20px;
        height: 77px;
        padding: 20% 0% 0% 0%;
        padding-bottom: 60px;
        font-weight: 400;
        position: relative;
        white-space: nowrap;
        color: rgba(212, 20, 91, 1);
        align-items: center;
        transform: translateX(-80%);
    }
}

.logo-senac{
    width: 242px;
    height: 129px;
    position: absolute;
    align-items: center;
}

.barra-horizontal{
    display: flex;
    position: relative;
    border: 1px solid;
    color: rgba(162, 202, 2, 1);
    top: 85px;
    width: 100vw;
    padding-right: 0;
}

.Carrousel{
    top: 100px;
    position: relative;
    display: flex;
    height: auto;
    width: 100%;
    margin: 20px 0px 0px 2%;
}

.seta{
    display: flex;
    position: relative;
    flex-direction: row;
}

.right{
    padding-left: 5%;
    padding-right: 20%;
    padding-bottom: 15%;
    transform: translateY(-50%);
}

.left{
    transform: translateX(100ch);
    
}

section{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.divCards{
    align-items: center;
    justify-items: center;
    padding-left: 10%;
}

.title{
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(212, 20, 91, 1);
    padding-left: 10%;
    padding-top: 40px;
}
.nome-do-show{
    align-items: center;
    justify-items: center;
    padding-bottom: 20px;
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
}

.grupo{
    position: relative;
    display: flex;
    align-items: start;
    justify-items: center;
    padding-bottom: 20px;
    gap: 10px;
}

.data{
    position: relative;
    display: flex;
    bottom: 5px;
    gap: 13px;
    width: 158px;
    height: 34px;
}

.dinheiro{
    position: relative;
    display: flex;
    align-items: start;
    justify-items: stretch;
}

.estilo-pagamento{
    position: relative;
    display: flex;
    bottom: 45px;
    left: 60px;
}

button [type="submit"]{
    vertical-align: baseline;
    width: 166px;
    height: 50px;
    border-radius: 21px rgba(243, 19, 102, 1);

    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.Button{
    height: 34px;
    width: 96px;

    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(242, 242, 242, 1);
    white-space: nowrap;
}

.Senac-login{
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: auto;
    padding-left: 30%;
    padding-top: 100%;
    transform: translateY(0%);  
    border-top: -80px;
}

.fundo-verde{
    margin-top: auto;
    color: rgba(162, 202, 2, 1);
    height: 199px;
    width: 400px;

}