*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jockey One;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(elementos.login/Show.jpg);
}

.wrapper{
    width: 420px;
    background: #FEFEFE;
    color: #F2F2F2;
}

.logo-senac{
    position: relative;
    align-content: center;
}