*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Jockey One;
}

body{
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    height: 100vh;
    flex-direction: reverse;
}

.text-information{
    margin: 250px 0% 0% 500px

}

.input-container{
    margin: 20px 300px 0px 500px
}

.img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);   
} esse é o meu código atual