*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-container{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.wrapper-imagem-right{
    display: flex;
    flex-direction: row;
}

img{
    height: 99.9%;
    margin: 0;
    padding: 0;
}